<!DOCTYPE html>
<html>
<head>
	<title>Depression Detection App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
    type="text/css"
    rel="stylesheet"
    href="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
<body>
  <div id="app">
    <img
      src="https://i.ibb.co/S0hT7Gg/Team-10-Week-7-9-Project-Milestone-2-Implementation-Unit-Testing-pptx.png"
    />
    <section id="event-details-container">
      <h1>Depression Detection</h1>
        <form action="{{ url_for('signup')}}">
    <input type="submit" value="Join Us!" />
</form>
        <img src = 'img.jpg'/>

    </section>

    <hr />
  <section id="description-container">
      <h2>App Description</h2>
      <p>Helps in the early detection on depression
      We aim to develop an intelligent solution that will detect potential depression (short-term) and notify the person. We have built a ML -based solution for this. The solution recognises different human behavioral and lifestyle patterns, through data collected from wearable devices and smart phones. Our platform is intended to only detect potential depression (short-term). </br></br>
<b>Disclaimer</b>: It can not be used as a replacement for any diagnosis and treatments from a certified healthcare professional.
</p>
    </section>
  </div>
</body>
</html>