<!DOCTYPE html>
<html>
<head>
	<title>Depression Detection App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
    type="text/css"
    rel="stylesheet"
    href="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
<body>
  <div id="app">
    <img
      src="https://i.ibb.co/S0hT7Gg/Team-10-Week-7-9-Project-Milestone-2-Implementation-Unit-Testing-pptx.png"
    />
    <section id="event-details-container">
      <h1>Depression Detection</h1>
    </section>

    <hr />
    <form action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
      <h3>{{prediction_text}}</h3>
     <h4>{{symptom_text}}</h4>
<p>{{recommendation_text}}</p>
  </div>
</body>
</html>